<!-- Imports navigation bar and footer -->
{% extends "generalTemplate.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<div class="formSiteContainer expand">
    <h1 class="formTitle">Dietetics Major Application Form {{ year }}</h1>
    <form class="formContainer" action="" method="post">
        {% csrf_token %}

        <table>
            <div class="mandatoryQuestionsContainer">
                {% for input in mandatoryQuestions %}
                <div>
                    <span>{{ input.label_tag }} <span style="color:red;">*</span></span>
                    {% if input.name != "firstApp" %}
                        <span class="formRight">
                            {{ input }}
                        </span>
                    {% else %}
                        {{ input }}
                    {% endif %}
                    <br><br>
                    <!-- <p class="formHelpText">{{ input.help_text }}</p> -->
                </div>
                {% endfor %}
            </div>

            <div class="aboriginalQuestionsContainer">
                <p><b>Aboriginal Student Self-Identification - Optional Question</b></p>
                <p> UBC is dedicated to supporting Aboriginal student success. The university has developed a wide variety of programs and student services for Aboriginal students, including academic programs, admission policies, housing and financial awards. <b>Self-identification is optional</b>. If you are an Aboriginal person, we encourage you to self-identify so that you may benefit from these programs and services. </p>
                <p> We use the term "Aboriginal" in the spirit of its use in section 35(2) of the Canadian Constitution, to refer inclusively to members of First Nations, status and non-status, treaty and non-treaty Indians, Métis, and Inuit peoples in Canada, recognizing in doing so that many people may perfer the terms that are specific and traditional to their communities. </p>
                <p><b> Aboriginal Self-Identification Questions (Optional):</b> </p>
                {% for input in optionalQuestions %}
                <div>
                    {{ input.label_tag }}
                    {{ input }}
                </div>
                <br>
                {% endfor %}
            </div>

            <input class="btn submitFormBTN" type="submit" value="Submit">
        </table>
    </form>

    <div class="formFooter">
        <p>For assistance contact <a href="mailto:it@landfood.ubc.ca" target="_top">it@landfood.ubc.ca</a></p>
        <a href="https://dietpin.landfood.ubc.ca/Shibboleth.sso/Logout?return=https://dietetics.landfood.ubc.ca">CWL LOGOUT</a>
    </div>
</div>

<script src="{% static 'js/formValidation.js' %}" ></script>

{% endblock content %}
