<!-- Imports navigation bar and footer -->
{% extends "generalTemplate.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />

<div class="formSiteContainer expand">
    <h1 class="formTitle">Dietetics Major Application Form {{ year }}</h1>
    
    <div style="margin-top: 200px; margin-bottom:200px; position: relative;">
        <a href="./application">CWL Login</a>
    </div>
    
    <div class="formFooter">
        <p>For assistance contact <a href="mailto:it@landfood.ubc.ca" target="_top">it@landfood.ubc.ca</a></p>
        <a href="https://dietpin.landfood.ubc.ca/Shibboleth.sso/Logout?return=https://dietetics.landfood.ubc.ca">CWL LOGOUT</a>
    </div>
</div>

<script src="{% static 'js/formValidation.js' %}" ></script>

{% endblock content %}
